.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  top: 8px !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
mat-nav-list{
  border: 1px solid lightgray;
  height: 88%;
}
.usernameStyle{
font-size: small;
float: right;
}
.pageToolbar{
  text-align: right ;
    display: inline-grid ;
}
