<mat-card class="titleCard cardMargins">
  <mat-card-title >Data Upload </mat-card-title>
</mat-card>


<mat-accordion>
  <mat-expansion-panel [expanded]="true" class="upperExpansionPanel cardMargins">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Master Data
      </mat-panel-title>
      <mat-panel-description>

      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input readonly="true" matInput placeholder="Last Uploaded">
    </mat-form-field>
    <mat-form-field>
      <input readonly="true" matInput placeholder="15/11/2018   10:10">
    </mat-form-field>

    <br>
    <mat-form-field>
      <input readonly="true" matInput placeholder="Last Modified">
    </mat-form-field>
    <mat-form-field>
      <input readonly="true" matInput placeholder="15/11/2018   10:10">
    </mat-form-field>

    <br>
    <mat-form-field>
      <input readonly="true" matInput placeholder="Last Validated">
    </mat-form-field>
    <mat-form-field>
      <input readonly="true" matInput placeholder="15/11/2018   10:10">
    </mat-form-field>
    <button mat-raised-button class="btnBasic" color="primary">Upload</button>

  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="cardMargins">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Transactional Data
      </mat-panel-title>
      <mat-panel-description>
        <!-- Currently I am {{panelOpenState ? 'open' : 'closed'}} -->
      </mat-panel-description>
      
    </mat-expansion-panel-header>
    
    <button mat-raised-button class="btnBasic btnNewTransaction" color="primary">Create New</button>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 transactionalTable">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Weight </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> Symbol </th>
          <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      

  </mat-expansion-panel>
</mat-accordion>